body{
	text-align: center;
	background-color: #A366FF;
	color: #0000CD;
}

h1{
	font-family: Didot;
	font-size: 20px;
}

p{
	font-family:Optima;
	font-size: 15px;
}

img{
	height: 18 px;
	width: 24 px
};
