body{
	text-align: center;
	background-color: #E2B8FF;
	color:#005C00;
}

h1{
	font-family: Didot;
	font-size: 20px;
}

p{
	font-family:Optima;
	font-size: 15px;
}

img{
	height: 30%;
	width: 30%;
};
